{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}
  <hr>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
  {% for message in messages %}
      <li>{{ message }} </li>
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block content1 %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Register Patients 
        <small>Please add all the required information in order to register Patients!</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Register Patients</li>
      </ol>
    </section>

    <section class="content">
      <div class="row">
        <!-- Left col -->
        <section class="container">
          <!--{% block content %}-->
          <br>
          <form action="/submit" id="textform" method="post" enctype = "multipart/form-data">
            <div class="form-group">
              <label for="patient" class="label1"><span>Patient Name<span class="required">*</span></span></label><br>
              <input type="text" name="patient" id="patient" class="form-group fields" placeholder=" Enter name" required>&emsp;&emsp;
            </div>
            <div class="form-group">
              <label for="patient_id" class="label1"><span>Patient ID<span class="required">*</span></span></label><br>
              <input type="number" min="12" name="patient_id" id="patient_id" class="form-group fields" placeholder=" Enter ID" required>
            </div><br>
            <div class="form-group gender">
              <label>
                <input type="radio" class="option-input radio" name="gender" value="Male"checked />
                Male
              </label>&nbsp; &nbsp;
              <label>
                <input type="radio" class="option-input radio" name="gender" value="Female" />
                Female
              </label>
            </div><br><br>
            <div class="form-group">
              <label for="address" class="label1"><span>Patient Address<span class="required">*</span></span></label><br>
              <input type="text" min="12" name="address" id="address" class="form-group fields" placeholder=" Enter address" required>&emsp;&emsp;
            </div>
            <div class="form-group">
              <label for="phone" class="label1"><span>Phone Number<span class="required">*</span></span></label><br>
              <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}" name="phone" id="phone" class="form-group fields" placeholder=" +1 (779) 999-845" required>
            </div><br>
            <div class="form-group">
              <label for="birthdate" class="label1"><span>Birthdate<span class="required">*</span></span></label><br>
              <input type="date" name="birthdate" id="birthdate" class="form-group fields" placeholder=" Enter birthdate" required>&emsp;&emsp;
            </div>
            <div class="form-group">
              <label for="diagnose" class="label1"><span>Diagnoses<span class="required">*</span></span></label><br>
              <input type="text" name="diagnose" id="diagnose" class="form-group fields" placeholder=" Enter diagnoses" required>
            </div>
            <textarea name="medications" class="textfield" rows="4" cols="30" placeholder=" Medications"></textarea><br><br>
            <textarea name="content" class="textfield" rows="4" cols="30" placeholder=" Allergies/Medication History"></textarea><br><br>
            <input type="submit" class="button btn-3" value="Post">
          </form>
          <br>

          <a href="{{node_address}}/mine" target="_blank"><button class="button btn-3">Request to mine</button></a>
          <a href="/admin/custom/"><button class="button btn-3">Resync</button></a>

          <div style="margin: 30px;">

          {% for post in posts %}
          <div class="post_box">
            <div class="post_box-header">
              <div style="background: #3c8dbc none repeat scroll 0% 0%; box-shadow: #3c8dbc 0px 0px 0px 2px;" class="post_box-avatar">{{post.patient[0]}}</div>
              <div style="font-size: 16px;" class="name-header"><b>Patient Name:</b> {{post.patient}}</div>
              <div class="post_box-subtitle"> Registered at <i>{{readable_time(post.timestamp)}}</i></div>
            </div>
            <div>
              <table class="table table-hover table-striped">
                <thead class="thead-dark">
                  <caption>Patient details</caption>
                  <tr>
                    <th scope="col">Patient ID</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Diagnose</th>
                    <th scope="col">Medications</th>
                    <th scope="col">Allergies/Medication History</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{post.patient_id}}</td>
                    <td>{{post.gender}}</td>
                    <td>{{post.address}}</td>
                    <td>{{post.phone}}</td>
                    <td>{{post.birthdate}}</td>
                    <td>{{post.diagnose}}</td>
                    <td>{{post.medications}}</td>
                    <td>{{post.content}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {% endfor %}
      </section>
        <!-- /.Left col -->

      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  {% endblock %}
{% endblock %}
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Electronic Heath care record (EHR)</h1>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
        <p>
          <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
        </p>
        {% endif %}
        <br>
        <p>
          <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
        </p>
      </div>
    </section>
  </center>

  <br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  {% endif %}

{% endblock body %}
